<div class="modal-header">
  <h4 class="modal-title">Add or remove time</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form (ngSubmit)="submit()" #form="ngForm">
    <div class="form-group" [class.has-danger]="minutesField.dirty && minutesField.invalid">
      <label for="minutes">Minutes to add (or subtract)</label>
      <input name="minutes" class="form-control" type="text" [(ngModel)]="minutes" id="minutes" required pattern="[-+]?\d+" #minutesField="ngModel">
    </div>
    <div class="form-group">
      <label for="reason">Reason</label>
      <input name="reason" class="form-control" type="text" [(ngModel)]="reason" id="reason" required placeholder="Enter a reason" #reasonInput>
    </div>
    <div class="form-group text-right">
      <div ngbDropdown class="d-inline-block" placement="bottom-right">
        <button type="button" class="btn btn-sm btn-outline-primary" ngbDropdownToggle id="dropdown-recent-reasons">Recent reasons</button>
        <div ngbDropdownMenu aria-labelledby="dropdown-recent-reasons">
          <button *ngFor="let recentReason of recentReasons" class="dropdown-item" (click)="reason = recentReason;">{{recentReason}}</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-sm" [disabled]="!form.form.valid" [class.btn-danger]="minutes < 0" [class.btn-success]="minutes > 0" [class.btn-secondary]="minutes === 0" (click)="submit()">{{minutes < 0 ? 'Take away time' : 'Add time'}}</button>
  <button type="button" class="btn btn-sm btn-secondary" (click)="activeModal.close()">Cancel</button>
</div>
